<section class="faq">
    <div class="faq-page">    
   <div class="container">   
    <h2 class="text-center">FREQUENTLY <strong>ASKED QUESTIONS</strong></h2>
         <p class="text-center">Here are some commonly asked questions about the African Ancestry Experience:</p>
         <div class="row">
       <div class="col-md-10 col-12 offset-md-1">
            <div class="article-content">
           <h3>ABOUT THE TESTS</h3>
           <div class="bs-example">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">1. How are African Ancestry’s tests different from other ancestry tests. <i class="fa fa-angle-down" aria-hidden="true"></i> </button>									
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                <div class="card-body">
                    <!-- <p>The science behind our single lineage tests is the same as what most other companies offer. What makes African Ancestry different is:</p> -->
                    <ul>
                    <li>Our tests place your African ancestry in a present-day country and ethnic group or tribe.</li>
                        <li>We use the largest number of African DNA samples in the industry to analyze your ancestry.</li>
                        <li>We do not maintain a database of customer information.</li>
                        <li>We do not sell or share customers’ personal or genetic information.</li>
                        <li>We do not provide customer information to law enforcement.</li>
                        <li>We do not biobank your genetic material. All genetic material is destroyed at the lab.</li>
                        <li>We analyze <a target="_blank" href="https://learn.genetics.utah.edu/content/basics/molgen/">mitochondrial DNA</a> (mtDNA) and <a target="_blank" href="https://learn.genetics.utah.edu/content/basics/molgen/">Y Chromosome</a> DNA. We do not use <a target="_blank" href="https://learn.genetics.utah.edu/content/basics/molgen/">autosomal DNA</a>.</li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"> 2. If I have results from another company’s test, can I send them to you for analysis?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                <div class="card-body">
                    <!-- <p>Yes. If your mitochondrial DNA (mtDNA) sequence or your Y-chromosome markers have African ancestry, we can tell you what present-day country(ies) in Africa that they share ancestry with. Please <a href="/assets/pdf/data-requirements.pdf">click here</a> for data requirements.  We cannot use data from admixture analyses.</p> -->
                    <p>Yes. If your mitochondrial DNA (mtDNA) sequence or your Y-chromosome markers
                      have African ancestry, we can tell you what present-day country(ies) and ethnic
                      groups in Africa that they share ancestry with. Please&nbsp;<a href="/assets/pdf/data-requirements.pdf">click here</a>&nbsp;for data
                      requirements. We cannot use data from admixture analyses.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">3. How reliable are the tests?<i class="fa fa-angle-down" aria-hidden="true"></i> </button>                     
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                <div class="card-body">                   
                    <p>For lineage-based tests, reliability depends on several things such as the size of the
                    database, the sampling of the lineages and the accuracy of lineage matches. Our
                    database is the most comprehensive resource of African lineages available. We have
                    worked with historians, archeologists, anthropologists and other geneticists to build
                    the&nbsp; largest collection of African lineages &nbsp;in the world. We use a Sequence Similarity
                    Score (SSS) measure to determine matches. The SSS measure is a likelihood
                    estimate based on the frequency of identical and closely related (&gt;99%) haplotypes.
                    It is our degree of confidence in your results. Dr. Kittles explains <a target="_blank" href="https://www.youtube.com/watch?v=w6pRVRquljI&amp;feature=youtu.be">here</a>.</p>
                 </div>
            </div>
        </div>
          <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"> 4. How accurate are the MatriClan and PatriClan Tests?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Our results are highly accurate. For about 85% of the people we test we find identical matches in our database. For the remaining people, we find closely related lineages with greater than 95% confidence. Our database is the most comprehensive resource of African lineages available.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"> 5. What can I expect from an African Ancestry test?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Our tests do not provide percentages. We tell you WHERE in Africa one branch of
                  your family tree goes back to, not HOW MUCH African ancestry you have.</p>
                  <p>The <a href="https://shop.africanancestry.com/collections/ancestry-test-kits/products/matriclan-test-kit?variant=4981310849061">MatriClan Test</a> traces the ancestry of ONE branch of your family tree, mother to
                  mother to mother on back, for the past 2,000 years.</p>
                  <p>The <a href="https://shop.africanancestry.com/collections/ancestry-test-kits/products/patriclan-test-kit?variant=4981309997093">PatriClan Test</a> traces the ancestry of ONE branch of your family tree, father to
                  father to father on back, for the past 2,000 years.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"> 6. How can I determine my paternal ancestry if I am a woman?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>In order for a woman to determine her paternal ancestry, she must use the Y-chromosome of a male on her father's side—her brother, father, father's brother, grandfather, etc.<a href="/assets/mov/learningcenter.mov"> Click here</a> for help with reviewing your lineages.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"> 7. Is there some way to trace the ancestry of a family member that has died?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>The easiest way to trace the ancestry of a deceased family member is to identify a living relative with the same lineage.
<a href="/assets/mov/learningcenter.mov">Click here</a> for help with reviewing your lineages. If there is no one available, our lab may be able to extract forensic DNA for an additional fee. Give us a call to discuss your options.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"> 8. What are you going to do with my DNA?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Your DNA is handled confidentially through all steps of the process. We do not share or sell your sequence or markers with any third party. Please<a href="/terms/"> click here</a> to review our Terms and Conditions.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"> 9. Will my DNA results be kept confidential?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Please click here to review our&nbsp;<a href="/terms/" target="_blank">Terms and Conditions.</a></p>
                    <!-- <p>Absolutely. When your cheek swab is sent to our lab for analysis, there is no personal identification information assigned to your sample. It only has a bar code number attached to it. We also enter into a contract with you to handle your information confidentially. Please review our <a href="/terms/" target="_blank">Terms and Conditions.</a></p> -->
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"> 10. What are the instructions for taking the test?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Please <a href="">click here</a> to review the Test Kit Instructions.</p>
                </div>
            </div>
        </div>
  <hr>
        
          <h3 class="next-head">ABOUT THE RESULTS</h3>
    
        <div class="card">
            <div class="card-header" id="headingEleven">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven">1. What does the results package look like?<i class="fa fa-angle-down" aria-hidden="true"></i> </button>									
                </h2>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>The MatriClan and PatriClan result packages are sent via email and include:</p>
                    <ul>
                        <li>Official results with HVS1, HVS2 and HVS3 designations and haplogroup from mitochondrial DNA (mtDNA) that women and men inherit from their mothers</li>
                        <li>Certificate of Ancestry with specific ancestral country and tribe</li>
                        <li>E-book Guide to African History and Cultures</li>
                        <li>Access to our exclusive African Ancestry Online Community on Facebook</li>
                        <li>Online trainings with company founders and staff</li>
                    <!--    <li>Exclusive membership to the <a href="/community/">African Ancestry Online Community</a></li>-->
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-two">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-twelve"> 2. How long does it take to get my results?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-twelve" class="collapse" aria-labelledby="heading-two" data-parent="#accordionExample">
                <div class="card-body">
                    <p>The estimated timeframe for results is 8-10 weeks after receipt of your swabs. This is not a guarantee.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-three">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-thirteen">3. Can you tell what tribe I am from?<i class="fa fa-angle-down" aria-hidden="true"></i> </button>                     
                </h2>
            </div>
            <div id="collapse-thirteen" class="collapse" aria-labelledby="heading-three" data-parent="#accordionExample">
                <div class="card-body">
                    <!-- <p>We cannot always tell you the particular ethnic group with which you share genetic ancestry. However, in almost all cases where there is African ancestry, we can tell you the present-day country in Africa with which your lineage shares genetic ancestry.</p> -->
                    <p>We will tell you if you share ancestry with one of the 400 ethnic groups in our database. There is the rare chance where we can find an African country but are unable to determine the ethnic group. There is also the chance that your result will not be African.</p>
                </div>
            </div>
        </div>
          <div class="card">
            <div class="card-header" id="heading-four">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-forteen"> 4. Can you estimate how many generations back my lineage goes?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-forteen" class="collapse" aria-labelledby="heading-four" data-parent="#accordionExample">
                <div class="card-body">
                    <p>We do not estimate dates for the lineages since there is a large standard error involved in those estimates. The timeframe of our analysis is 500 – 2,000 years.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="heading-five">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-fifteen"> 5. I have several different ancestries. Can your test tell me about my European and/or Native American ancestries?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-fifteen" class="collapse" aria-labelledby="heading-five" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Our tests will only tell you about the lineage for which you submit DNA, maternal or paternal. We do not analyze your entire genome and provide a percentage breakdown of different ancestries. We provide mtDNA haplogroups. We do not provide Y Chromosome haplogroups.</p>
                </div>
            </div>
        </div>
               <div class="card">
            <div class="card-header" id="heading-six">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-sixteen"> 6. What if you do not find any match for my ancestry?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-sixteen" class="collapse" aria-labelledby="heading-six" data-parent="#accordionExample">
                <div class="card-body">
                    <p>If we do not find a match for your ancestry anywhere in the world, we will notify you by mail. We will keep your sequence on file and re-run it against future updates to our database. Or you can choose to receive a refund. WE DO NOT OFFER REFUNDS FOR NON-AFRICAN RESULTS.</p>
                </div>
            </div>
        </div>
          <div class="card">
            <div class="card-header" id="heading-seven">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-seventeen"> 7. Can the PatriClan Test determine paternity?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-seventeen" class="collapse" aria-labelledby="heading-seven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>No. The PatriClan Test is not a paternity test.</p>
                </div>
            </div>
        </div>


        <h3 class="next-head">ABOUT YOUR ORDER</h3>

        <div class="card">
            <div class="card-header" id="heading-eight">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-eightteen"> 1. How long does it take to receive my order?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-eightteen" class="collapse" aria-labelledby="heading-eight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Our goal is to process and fill orders received by 2 PM EST in the same business day. We commit to shipping your order within three business days of receipt.</p>
                    <p>We cannot control the shipping carrier. Shipping times are estimates and depend on the shipping method that you select at checkout. If you want tracking, we recommend that you select one of the Priority Mail or Fedex options.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-nineteen"> 2. What do I do if I have misplaced my kit?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-nineteen" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>We will replace a lost kit within 90 days. You will only be charged for the shipping. If you return swabs for a test kit purchased more than 90 days ago, you are subject to a reactivation fee. See Section 11 of the <a href="/terms/">Terms and Conditions.</a></p>
                </div>
            </div>
            <div class="card">
            <div class="card-header" id="heading-ten">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-twenty">3. What is Affirm?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-twenty" class="collapse" aria-labelledby="heading-ten" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Affirm is a financing alternative to credit cards and other credit-payment products. Affirm offers instant financing for online&nbsp;purchases&nbsp;to be paid&nbsp;in fixed monthly installments over 3, 6, or 12 months.</p>
                    <p>You must discuss any Affirm payment concerns directly with them at (855) 423-3729.</p>
                </div>
            </div>
        </div>
        </div>

        <h3 class="next-head">ABOUT AFRICAN ANCESTRY FAMILY REUNIONS</h3>

        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-21"> 1. How is an AAFR different than other trips?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-21" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>African Ancestry Family Reunions are specially curated all-inclusive birthright journeys.

                        They are authentic, culturally immersive experiences co-created by experienced professionals in the country.

                        We have partnered with Tourism ministries, local communities, businesses and cultural organizations and embassies, to create an unforgettable reconnection to your family’s ethnic group.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-22"> 2. Are AAFRs open to the public?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-22" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>The trips are only open to AA family members (people who have taken a MatriClan or PatriClan Test and their extended family.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-23"> 3. Is airfare included in the price?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-23" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Yes, the AAFR price is all inclusive. It includes airfare from Washington DC, lodging (4-5 star),
                        all meals, ground transportation in country and scheduled activities.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-24"> 4. Why can't I see the trip details?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-24" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>You will only see the trip details once you enter a valid Kit ID and the email used when you took your test.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-25"> 5. Where do I find my Kit ID?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-25" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Your unique African Ancestry Kit ID can be found on your results letter and on your Kit Information Booklet. Any request for a lost Kit ID must be emailed to info@africanancestry.com.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-26"> 6. How much is the AAFR?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-26" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>You will see the trip details once you enter a valid Kit ID and the email used when you took your test.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-27"> 7. Is there a payment plan?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-27" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p> Currently, we offer Affirm as a payment option.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-28"> 8. Are AAFRs open to children?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-28" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Yes</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-nine">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-29"> 9. What is the refund policy?<i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </h2>
            </div>
            <div id="collapse-29" class="collapse" aria-labelledby="heading-nine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Yes</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>      
</div>   
</div>    
</div>      
    </div>
    </section>

{% schema %}
  {
    "name": "FAQ",
    "settings": [
        {
          "id": "main_title",
          "type": "text",
          "label": "Section Title"
        },
        {
          "id": "sub_title",
          "type": "textarea",
          "label": "Sub Title"
        }
     ],
     "blocks": [
            {
              "type": "about-the-tests",
              "name": "ABOUT THE TESTS (FAQ)",
              "settings": [
                  {
                  "id": "faq-question",
                  "type": "text",
                  "label": "Add Question"
                  },
                  {
                  "id": "faq-answer",
                  "type": "textarea",
                  "label": "Add Answer"
                  }
              ]
            },
            {
              "type": "about-the-results",
              "name": "ABOUT THE RESULTS",
              "settings": [
                  {
                  "id": "imageOne",
                  "type": "image_picker",
                  "label": "Image"
                }
              ]
            },
            {
              "type": "about-your-order",
              "name": "ABOUT YOUR ORDER",
              "settings": [
                  {
                  "id": "imageOne",
                  "type": "image_picker",
                  "label": "Image"
                }
              ]
            },
              { 
                "type": "family-reunion",
                "name": "ABOUT AFRICAN ANCESTRY", 
                "settings": [ 
                    {
                  "id": "imageOne",
                  "type": "image_picker",
                  "label": "Image"
                }
              ]
            } 
          ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
