<div class="page-width">
  <div class="logo">
    <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2973.png?v=1681386564" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}">
  </div>
  <div class="copyright-text">
    <p>© 2023 African Ancestry, Inc. All rights reserved.</p>
  </div>
</div>

{% schema %}
{
  "name": "Matriclan Footer",
  "tag": "section",
"class": "matriclan-footer",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Matriclan Footer"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
