{% style %}
  .matriclan-video .video-box img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
{% endstyle %}
<div class="page-width">
  <div class="title-box">
    <h2 class="section-title">Celebrate Your Blackness</h2>
    <p class="subtitle">From the people who have paved the way to the places that inspire us to the spaces that have become sacred.</p>
  </div>
  <div class="video-box">
    {% comment %}
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9xwazD5SyVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endcomment %}
    <img alt="Remember Who You Are By African Ancestry" src="{{ section.settings.remember_who_you_are_new_image | img_url: '' }}" class="lazyload" data-src="{{ section.settings.remember_who_you_are_new_image | img_url: '' }}" loading="lazy" height="315" width="560">

    {% comment %} <iframe width="560" height="315" src="https://www.youtube.com/embed/8gBIByhd4Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
  </div>
</div>


{% schema %}
{
  "name": "Matriclan Video",
  "tag": "section",
"class": "matriclan-video",
  "settings": [
    {
      "type": "image_picker",
      "id": "remember_who_you_are_new_image",            
      "label": "Image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Matriclan Video"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
