<div class="page-width">
  <div class="title-box">
    <h2 class="section-title">Find out your specific African  roots</h2>
  </div>
  <div class="grid">
    <div class="grid__item">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_28.png?v=1681384693" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
      </div>
    </div>
    <div class="grid__item">
      <div class="content">
        <p class="description">This was the best gift I could have ever purchased for myself, my daughter and my family members!</p>
        <h3 class="user-name">Jacqueline D.</h3>
        {% if section.settings.button_text != blank %}
          <div class="button-box">
            <a href="{{ section.settings.button_url }}" class="button button-primary">{{ section.settings.button_text }} →</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Matriclan Find Out",
  "tag": "section",
  "class": "matriclan-find-out",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Matriclan Find Out"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
