<div class="grid">
   <div class="grid__item post-large--two-thirds push--post-large--one-sixth">
      {% comment %}
      <div class="section-header">
         <h1 class="section-header--title page-title">{{ page.title }}</h1>
      </div>
      <div class="rte">
         {{ page.content }}
      </div>
      {% endcomment %}
   </div>
</div>
{% section 'project-banner'%}
{% section 'great-project'%}
{% section 'watch-the-fun'%}
{% section 'in-the-box'%}
{% section 'your-dna'%}
