<h1 class="main-page-common-title">{{ page.title }}</h1>
{% section 'opening-session-slider' %}
{% section 'remember-who-you-are' %}
{% section 'opening-buy-now' %}
{% section 'watch-youtube-videos' %}
{% section 'learn-more' %}
  <script>
fbq('trackCustom', 'Summit Opening Session Promo');
  </script>
  
  
  