<div class="grid">
	<h1 class="main-page-common-title">{{ page.title }}</h1>
    <div class="grid__item post-large--two-thirds push--post-large--one-sixth">
		{% if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank %}{{ shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}{% endif %}<div data-oke-widget></div>
	</div>
</div>