<div class="grid">

  <h1 class="main-page-common-title">{{ page.title }}</h1>
  
  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="how-it-works-page"> 
       {% section 'how-it-works-about' %}
       {% section 'how-it-works-sec-2' %}
       {% section 'how-it-works-sec-3' %}
       {% section 'how-it-works-sec-4' %}
       {% section 'how-it-works-sec-5' %}   
    </div>

  </div>

</div>
