<div class="grid">
   <div class="grid__item post-large--two-thirds push--post-large--one-sixth">
	<div class="story-page">
      {% section 'our-story-about' %}
      {% section 'our-story-founder' %}
      {% section 'our-story-bf' %}
    </div>
  </div>
</div>
